
.navbar {
    background-color:  #3C4FFC;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box;
    height:45px;
    width:80%;
    border-radius: 5px;
    margin-left: auto;
    margin-right:auto;
    color:white;

}
.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.navbar p {
    font-size: 20px;
    margin: 0;
    padding-bottom:10px;
    padding-left: 10px;
    box-sizing:border-box;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #000;
}


.search-bar {
      display: flex;
      margin-left:1px;
      margin-right:8px;
      margin-bottom:4px;
    box-sizing:border-box;
  }

.search-bar input {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing:border-box;
    padding-bottom:10px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-sizing:border-box;
}
.MainContainer{
    background-image: linear-gradient(180deg,black,dimgrey);
    height:80px;

}
