
.welcome_middle{
    text-align: center;
    color: rgb(2, 27, 52);
    font-size: 60px;
    margin-top: 50px;
    padding: 100px;
}
.mainContainer{
    height: 300px;
    background-color: #ada7ab;
    margin-bottom: 50px;
}

.cartPart{
    height: 300px;
}
.cartBody{
    width:28%;
    box-shadow: 10px 10px 50px gray ;
    height: 100%;
    float:left;
    margin-left:5%;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 5px;
    color:black;
    font-size: 25px;
    padding-bottom: 15px;

}

.cartBody img{
    width:100%;
    height: 75%;
    border-radius: 5px;
}

.card-footer{
    text-align: center;

}
.pageName:hover{
    color:orange;
}



.top-container{
    display:flex;
    justify-content: space-between;
    box-sizing:border-box;
    background-image: linear-gradient(180deg,black,dimgrey);
   background-size: cover;
}
 .topText{
    margin-left: 50px;
     color:tomato;
     padding-top: 10px;
     box-sizing:border-box;
     font-size:20px;
}
.topBtn{
    margin-right:30px;
    padding-top:10px;
}
.topBtn button{
    background-color:green;
    border-radius: 5px;
    padding:5px;
    box-sizing: border-box;
    width: 100px;
}
.carousel{
    height:500px;
    background-color: #333333;
}

.caro-image{
    height:500px;
    width:100%;
    object-fit: contain;

}
.product{
 display:flex;
    justify-content: center;
}

.productShow{
    float: left;
    width: 500px;
    height: 500px;
    background-color:lightgray ;
    box-sizing: border-box;
    padding:20px;
    margin: 20px;
    font-size: 20px;

}

.productShow-child{
    margin-bottom: 2%;
    background-color: gray;
    height: 48%;
   display: flex;
}

.arrow{
    height: 15px;
    width: 25px;
}

.productSecondChild{
width: 50%;
}


/*.mx-5 {*/
/*    float: left;*/
/*}*/

.ratingChild {
    margin-left: 200px;

}
.productDemo{
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DemoChild{
    width: 20%;
    height: 100%;
    background-color: #dddddd;
    margin:1%;
    padding:10px;
    box-sizing: border-box;
    border-radius:5px;


}

.DemoChild img{
   height: 50%;
    width: 100%;
   object-fit: contain;

}

.DemoFooter{
    text-align: center;
    font-size: 18px;
}

.DemoFooter span{
    color:gray;

}


.mid{
    height: 250px;
    background-image: linear-gradient(180deg,red,orange);
    margin-top: 50px;
    text-align: center;
    color: #dddddd;
    padding-top: 50px;
}

.mid button{
    border-radius: 10px;
    padding:5px;
    background-color: transparent;
    margin-top: 10px;
    border: solid 2px blue;
}

.mid button:hover{
    background-color:dodgerblue;
    transform: translateY(-2px);
}

.footer{
    margin-top: 50px;

    background-color: #e3e0e0;
    justify-content: center;
    display: flex;
}
.footer h1{
    font-size: 25px;
}

.footer-head{
    margin-top: 70px;
    height: 100%;
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
}
.footer-head ul{
   display:flex;
    list-style: none;

}
.footer-head img{
    height: 30px;
    width: 25px;
    margin: 5px;
    object-fit: contain;
}

